/* Banner grande (imagem horizontal) */
.banner {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 20px auto;
    object-position: top;
}

/* Pôster do livro */
.poster {
    width: 350px;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin: 20px auto;
    display: block;
}

/* Foto do autor */
.pedro {
    width: 350px;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin: 20px auto;
    display: block;
}

/* Fundo geral */
body {
    background-color: #0F0F17; /* fundo escuro elegante */
    color: #F3F3F3;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

/* Título */
h1 {
    text-align: center;
}

/* Cubos separativos */
.cubo {
    background-color: #1B1B28; /* caixa um pouco mais clara que o fundo */
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}

/* Cubo do autor (com detalhe vermelho) */
.autor {
    background-color: #181820;
    border: 1px solid #C1121F;
}

/* Botão */
.botao {
    background: #C1121F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
    font-size: 18px;
}


